<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hillbo.test.redevelop.dao.SDUserMapper">

    <resultMap id="BaseResultMap" type="com.hillbo.test.redevelop.pojo.SDUser">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="email" property="email"/>
    </resultMap>

    <insert id="insertUser" parameterType="com.hillbo.test.redevelop.pojo.SDUser">
        INSERT INTO t_sdata_user
            (name, age, email)
        VALUES
            (#{name}, #{age}, #{email})
    </insert>

</mapper>